<h1>Belvo Demo</h1>

<div class="text-center">
  <h2>Global Balance By Currency</h2>
  <div class="row">
    <% @balances.global.each do |currency| %>
      <div class="col-sm-12 col-md-6 ">
        <h3><%= "#{currency[0]}: #{number_to_currency(currency[1])}" %></h3>
        <%= pie_chart @currencies[currency[0].to_s].last[:values] %>
      </div>
    <% end %>
  </div>
</div>

<div class="text-center">
  <div class="jumbotron">
    <h2>Accounts</h2>
    <% @owners_with_accounts.each do |owner| %>
    <table class="table table-dark">
      <thead>
        <tr>
          <th><%= owner["display_name"] %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= owner["email"] %></td>
          <td><%= owner["address"] %></td>
        </tr>
      </tbody>
    </table>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Public Data</th>
          <th scope="col">Current Balance</th>
          <th scope="col">Currency</th>
        </tr>
      </thead>
      <tbody>
        <% owner["accounts"].each do |account| %>
          <tr>
            <td><%= account["name"] %></td>
            <td><%= "#{account["public_identification_name"]} - #{account["public_identification_value"]}" %></td>
            <td><%= account["balance"]["current"] %></td>
            <td><%= account["currency"] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  </div>
</div>

<div class="text-center">
  <h2>Transactions</h2>
  <div class="row">
    <!-- <div class="col-md-12">
      <%= date_field_tag(@transactions_dates['date_from']) %>
      <%= date_field_tag(@transactions_dates['date_to']) %>
    </div> -->
    <div class="col-md-6 col-sm-12">
      <%= column_chart @chart_transactions %>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3>Last Month Transactions</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Account Data</th>
            <th scope="col">Type</th>
            <th scope="col">Reference</th>
            <th scope="col">Date</th>
            <th scope="col">Amount</th>
            <th scope="col">Currency</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <% @transactions.each do |transaction| %>
            <tr>
              <td>
                <%= "#{transaction["account"]["name"]} - #{transaction["account"]["category"]}" %>
              </td>
              <td><%= transaction["type"] %></td>
              <td><%= transaction["reference"] %></td>
              <td><%= transaction["value_date"] %></td>
              <td><%= transaction["amount"] %></td>
              <td><%= transaction["currency"] %></td>
              <td><%= transaction["status"] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= console %>
